.header__container {
    display: flex;
    justify-content: space-between;

    position: sticky;
    /* min-height: 100px; */
    margin: 25px;

    /* background-color: green; */
}

.sub-header_container {
    min-height: 50px;

    background-color: greenyellow;
}