// header component
.header__container {
  display: flex;
  justify-content: space-between;

  position: sticky;
  margin: 25px;
}

.sub-header_container {
  min-height: 50px;

  background-color: greenyellow;
}

// nav brand component

.nav-brand__container {
  height: 50px;
  width: 50px;

  background-color: blueviolet;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}

// nav links component

.nav-links__container {
  display: flex;
  justify-content: center;

  .nav {
    position: relative;
    list-style: none;
    width: 100%;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    a {
      text-decoration: none;
      color: rgb(3, 3, 3);

      &:hover {
        color: rgb(113, 113, 113);
      }
    }
  }
}

// .control__small {
//     width: 50%;
//     height: auto;
//     display: none;
// }

// @media screen and (max-width: 780px) {
//     .control__small{
//        display: flex;
//        margin: auto 10px;
//     }
// }
