.search-form__container {
    flex: 1;
    max-width: 750px;
    margin: 0 20px;
}

.search-form {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    align-self: center;
   
}

.search__form__input {
    width: 100%;
    height: 45px;
    /* border-radius: 30px; */
    outline: none;
    padding-left: 25px;
    font-size: .9rem;
    border-style: solid;
    border-radius: 10px;
}

.search__form__button {
    position: absolute;
    height: 45px;
    width: 50px;
    background-color: #2e2d2a;;
    color: rgb(189, 184, 184);
    right: 0px;
    font-weight: bold;
    border-color: #FFE26E;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search__icon {
    height: 50%;
    width: auto;
}

